<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Log {{ item.log }}</title>
</head>
<body>
<pre class="pre-scrollable" id="log" style="min-height: 460px;"></pre>
<a href="/func/{{ item.path }}">Back</a>

<script src="/static/js/jquery-2.1.3.min.js"></script>
<script>
    var reloadLog = function () {
        $.get('/func/{{ item.path }}?ajax=true', function (ret) {
            var elem = $('.pre-scrollable');
            elem.html(ret);
            window.scrollTo(0, document.body.scrollHeight);
        });
        setTimeout(reloadLog, 1000)
    };
    $(document).ready(reloadLog);
</script>
</body>
</html>