{% extends 'base.html' %}
{% block title %}{{ item.path }} - Log{% endblock %}
{% block header %}
    <style>
        #args {
            width: 60%;
        }
        #log {
            min-height: 460px;
        }
    </style>
{% endblock %}
{% block content %}
    <ol class="breadcrumb">
        <li><a href="/">Home</a></li>
        <li><a href="/p/{{ item.load_parent().path }}">{{ item.load_parent().path }}</a></li>
        <li>Function：{{ item.name }}</li>
    </ol>
    <hr/>
    <div class="row marketing">
        <pre class="pre-scrollable" id="log"></pre>
        <form class="form-inline" action="/task/run/{{ item.path }}">
        <p>
            <label for="args">Args:</label>
            <input type="text" class="form-control" name="args" id="args"/>
            {% if lockStatus(item) %}
                <a class="btn btn-danger" href="/task/stop/{{ item.path }}">Stop</a>
            {% else %}
                <input type="submit" class="btn btn-success" value="Start">
            {% endif %}
            <a class="btn btn-link" href="/func/{{ item.path }}?raw=true">New Tab</a>
            <a class="btn btn-link" href="/task/clear/{{ item.path }}">Clear</a>
        </p>
        </form>
    </div>
{% endblock %}

{% block foot %}
    <script>
        var reloadLog = function () {
            $.get('/func/{{ item.path }}?ajax=true', function (ret) {
                var elem = $('.pre-scrollable');
                elem.html(ret);
                elem.scrollTop(elem[0].scrollHeight);
            });
            {% if lockStatus(item) %}setTimeout(reloadLog, 1000);{% endif %}
        };
        $(document).ready(reloadLog);
    </script>
{% endblock %}
