{% extends "base.html" %}
{% block title %}Project - {{ item }}{% endblock %}

{% block content %}
    <ol class="breadcrumb">
        <li><a href="/">Home</a></li>
        <li><a href="/p/{{ item.load_parent().path }}">{{ item.load_parent().path }}</a></li>
        <li>{{ item }}</li>
    </ol>
    <hr>
    <div class="row marketing">
        <table class="table table-hover">
            <thead>
            <tr>
                <th>Function</th>
                <th>Status</th>
            </tr>
            </thead>
            <tbody>
            {% for child in item %}
                <tr>
                    <td><a href="/{{ 'func' if child.type == itemType.Function else 'p' }}/{{ child.path }}">{{ child }}</a></td>
                    {% if child.type == itemType.Function %}
                        {% if lockStatus(child) %}
                            <td><span class="label label-danger">Runing</span></td>
                        {% else %}
                            <td><span class="label label-success">Free</span></td>
                        {% endif %}
                    {% else %}
                        <td></td>
                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}