<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    {# <link rel="icon" href="/static/favicon.ico"> #}
    <title>部署系统 - {% block title %}{% endblock %}</title>
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/jumbotron-narrow.css" rel="stylesheet">
    <script src="/static/js/jquery-2.1.3.min.js"></script>
</head>
<body>
<div class="container">
    <div class="header">
        <nav>
            <ul class="nav nav-pills pull-right">
                <li role="presentation"><a href="/pull">手动部署</a></li>
                <li role="presentation"><a class="text-danger" href="/roll">RollBack</a></li>
                <li role="presentation"><a href="/log">部署日志</a></li>
            </ul>
        </nav>
        <h3 class="text-muted">部署系统</h3>
    </div>
    {% block content %}
    {% endblock %}
    <footer class="footer">
        <p class="text-center">
            <a href="mailto:zhangwei@baixing.net">zhwei</a>
            &copy; Baixing 2015
        </p>
    </footer>
</div>

{% block foot %}{% endblock %}

</body>
</html>
