{% extends "base.html" %}
{% block title %}首页{% endblock %}
{% block content %}
    <div class="row marketing">
        <table class="table table-hover">
            <thead>
            <tr>
                <th>Project Name</th>
                <th>Status</th>
            </tr>
            </thead>
            <tbody>
            {% for project in projects %}
                <tr>
                  <td><a href="/p/{{ project }}">{{ project }}</a></td>
                  <td><span class="label label-info">state</span></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
