{% extends 'base.html' %}
{% block title %}RollBack{% endblock %}
{% block content %}
    <div class="header">
        <nav>
            <ul class="nav nav-pills pull-right">
                <li role="presentation"><a href="/">首页</a></li>
            </ul>
        </nav>
        <h3 class="text-muted text-danger">Roll</h3>
    </div>
    <div class="row marketing">
    {% if not version %}
        <form method="GET" role="form">
            <div>
                <label for="version">版本</label>
                <select class="form-control input-lg" id="version" name="version">
                    {% for pull in pulls %}
                        <option value="{{ pull['head']['sha'] }}">
                            [{{ pull['number'] }}]&nbsp;{{ pull['title'] }}&nbsp; @{{ pull['user']['login'] }}
                        </option>
                    {% endfor %}
                </select>
            </div>
            <br/>

            <div>
                <button type="submit" class="btn btn-block btn-danger">Roll</button>
            </div>
        </form>
    {% else %}
        <form method="post" role="form">
            <p>
                <span>确定要回滚到: </span>
                <input type="text" name="version" id="version" class="form-control" value="{{ version }}"/>
            </p>
            <p>
                <input type="submit" class="btn btn-danger" value="确定"/>
            </p>
        </form>
    {% endif %}
    </div>
{% endblock %}